body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.container {
    max-width: 600px; /* Set your desired width */
    width: 100%;
    padding: 0 15px;
}
.carousel-container {
    position: relative;
}
.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px; /* Set your desired width */
    padding: 20px 0;
}
.btns {
    max-width: 48%;
}